html {
    height: 100%;
}

body {
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    height:80%;
}

.container-fluid {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .row-first {
    height:80%;
    overflow: hidden;
  }